snippet dcl \documentclass{}
    \\documentclass{${1:class}} ${0}

snippet note
    \\note{${1:note}}${0}

snippet inote
    \\note[item]{${1:note}}${0}

snippet frame
    \\begin{frame}
        \\frametitle{${1:title}}
        ${2:body}
    \end{frame}${0}
		
